header {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1A4F7D;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 987;
    max-width: 1920px;
    width: 100%;
    transition: 0.3s ease;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;



        
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 35px;
            
           .detal{
                display: none;
               .delete {
                   background: transparent;
                   color: white;
                   font-size: 40px;
                   display: none;
               }
   
   
               img {
                   display: none;
               }
           } 



            li a {
                text-decoration: none;
                color: white;
                font-size: 18px;
                position: relative;
                padding-bottom: 5px;
            }


            li >a::after {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                left: 50%;
                background-color: white;
                transition: all 0.3s ease-in-out;
                transform: translateX(-50%);
            }

            li > a:hover::after {
                width: 100%;
            }


        }



        .bars {
            display: none;
            font-size: 30px;
            color: white;
            cursor: pointer;
        }

    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9; 
    backdrop-filter: blur(5px); 
}

nav.active {
    z-index: 10;
}



header.hide {
    transform: translate(-50%, -100%);
}



@media(max-width:1025px) {
    header>.container {
        ul {


             li >a {
                font-size: 17px;
            }
        }
    }
}


@media(max-width:950px) {
    header>.container {

        .bars {
            display: flex;
        }


        nav {

            padding-top: 30px;
            padding-bottom: 60px;
            width: 300px;
            position: absolute;
            top: 0px;
            left: 0;
            background: #1A4F7D;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateX(-120%);
            transition: .3s ease;
            z-index: 1001;





            ul {
                flex-direction: column;
                align-items: center;
                gap: 30px;


                li {
                    width: 100%;
                    border-bottom: 1px solid white;
                    padding-bottom: 7px;
                }

                li > a::after {
                    display: none;
                }


                .detal {
                    display: flex !important;
                    align-items: center;
                    gap: 25px;
                    margin-bottom: 25px;

                    svg {
                        margin-top: 15px;
                    }

                    .delete {
                        display: flex !important;
                    }

                    img {
                        display: flex !important;
                    }
                }
            }
        }

        nav.active {
            transform: translateX(0);
        }


    }
}